@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}
body {
  position: relative;
  background-color: #f3f3f34d !important;
}

/* Date Picker */
.react-datepicker {
  position: absolute !important;
  z-index: 20;
  top: 120%;
  left: 0;
}
.loader {
  position: absolute;
  left: 10px;
  width: 22px;
  height: 22px;
  border: 2px solid #00000087;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
